* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f8ff;
}

.wrapper {
  width: 95%;
  margin: 0 auto;

  background-color: #c2c0c0;
  padding: 3px;
  border-radius: 3px;
}

#search-container {
  text-align: center;
  margin-bottom: 22px;
}

#search-container button {
  padding: 5px 7px;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}

.button-value {
  border: 2px solid #6759ff;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #6759ff;
  cursor: pointer;
  margin: 3px;
}

.active33 {
  background-color: #6759ff;
  color: #ffffff;
}

#products {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.5em;

  justify-content: center;
  margin: 2px;
  padding: 2em 0;
}

.card88 {
  width: 333px;
  margin: 2px auto;

  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  /* ******** */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  cursor: pointer;
}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
  margin-top: 3px;
  padding: 3px;
}

.container {
  padding-top: 1em;
  color: #110f29;
}

.container h5 {
  font-weight: 500;
}

.hide {
  display: none;
}

@media screen and (max-width: 720px) {
  .container a {
    margin: 2px auto;
  }
  .image-container img {
    min-width: 100%;
    /* object-fit: contain; */
    /* object-fit: none; */

    height: 8em;
    border: 1px solid black;
    border-radius: 4px;
  }

  .card88 {
    max-width: 10em;
  }

  #products {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }

  .button-value {
    border: 2px solid #6759ff;
    padding: 2px;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
  }
}
