@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ce code force le mode sombre même si Tailwind bugue */
.dark body {
  background-color: #0a192f !important;
  color: #e5e7eb !important;
}

.dark .text-gray-700 {
  color: #e5e7eb !important;
}

.dark .bg-white {
  background-color: #0a192f !important;
}